# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python virtual environment
venv
.venv
env
.env*

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/Editor specific files
.idea/
.vscode/
*.swp

# Build artifacts
build/
dist/
*.egg-info/

# Test reports
.pytest_cache/
htmlcov/
.coverage

# OS-specific files
.DS_Store
Thumbs.db